@charset "UTF-8";
body {
    background-color: lightgray;
}

header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}

main {
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

main section {
    background-color: darkgrey;
    height: 200px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

main section a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.4s;
}

main section a:hover {
    font-size: 130%;
    background-color: gray;
    border-radius: 10px;
    background-image: url(/bilder/gray-background.jpg);
    font-weight: bolder;
}